
<nz-table #filterTable [nzData]="displayData">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="title" nzShowFilter [nzFilterMultiple]="false" [nzFilters]="titleList" (nzFilterChange)="filter($event, 'searchTitle')">Name</th>
      <th nzSortKey="city" nzShowFilter [nzFilters]="cityList" (nzFilterChange)="filter($event, 'listOfSearchCities')">City</th>
      <th nzSortKey="zipcode" nzShowFilter [nzFilterMultiple]="false" [nzFilters]="zipList" (nzFilterChange)="filter($event, 'searchZipcode')">Postcode</th>
      <th nzSortKey="adress">Address</th>
      <th nzSortKey="year" nzShowFilter [nzFilterMultiple]="false" [nzFilters]="yearList" (nzFilterChange)="filter($event, 'searchYear')">Start year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{data.title}}</td>
      <td>{{data.location.city}}</td>
      <td>{{data.location.zipcode}}</td>
      <td>{{data.location.adress}}</td>
      <td>{{data.dates.singles}}</td>
    </tr>
  </tbody>
</nz-table>