<nz-layout class="layout">
  <nz-header>
    <div class="logo">Logex</div>
    <ul
      nz-menu
      [nzTheme]="'dark'"
      [nzMode]="'horizontal'"
      style="line-height: 64px;"
    >
      <li nz-menu-item *ngFor="let item of menuItems">
        {{ item }}
      </li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <div style="background:#fff; padding: 24px; min-height: 280px;">
      <app-content-table></app-content-table>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
  